@use "sass:color";

$lightGreen: #99e2d0;
$darkGreen: #008766;
$cardShadow: color.mix(black, white, 10%);

.cards {
    background-color: white;
    border-radius: 15px;
    width: 100%;
    height: 251px;

    img {
        object-fit: cover;
        width: 100%;
        height: 175px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    &__content {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-content: space-between;
        position: relative;
        width: 100%;
        height: 76px;
        gap: 5px;

        &--titre {
            padding: 16px 0 0 16px;
            font-size: 18px;
            font-weight: 700;
        }
        &--text {
            margin: 0 0 12px 16px;
            font-size: 17px;
            font-weight: 300;
        }
        &--like {
            align-self: flex-end;
            position: absolute;
            top: 23px;
            right: 28px;
        }
    }
}

.menuCardsContainer {
    display: flex;
    flex-direction: column;
    padding-left: 13px;
    padding-right: 13px;
    gap: 12px;
    margin-bottom: 40px;

    @media (min-width: 1024px) {
        width: 634px;
    }

    h3 {
        font-size: 16px;
        font-weight: 300;
        border-bottom: solid 3px $lightGreen;
        width: 40px;
        padding-bottom: 3px;
    }

    .menuCard {
        display: flex;
        flex-direction: column;
        position: relative;
        height: 69px;
        gap: 5px;
        border-radius: 15px;
        background-color: white;
        box-shadow: 0 4px 10px $cardShadow;

        h4 {
            margin: 0;
            padding-top: 12px;
            padding-left: 14px;
            font-size: 18px;
            font-weight: 500;
        }
        p {
            margin: 0;
            padding-left: 14px;
            font-size: 15px;
            font-weight: 300;
        }
        .coursePrice {
            position: absolute;
            right: 13.5px;
            top: 37.5px;
            font-weight: 700;
        }
    }
}
