@use "./globalVariables.scss" as *;

.cards {
    background-color: white;
    border-radius: 15px;
    width: 100%;
    height: 251px;
    display: flex;
    flex-direction: column;
    position: relative;

    img {
        object-fit: cover;
        width: 100%;
        height: 175px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .newTag {
        position: absolute;
        background: $lightGreen;
        padding: 7px 9px 6px 9px;
        border-radius: 2px;
        color: $darkGreen;
        font-size: 14px;
        font-weight: 500;
        top: 13px;
        right: 12px;

        @media (min-width: 1024px) {
            right: 17.6px;
        }
    }

    &__content {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-content: space-between;
        position: relative;
        width: 100%;
        height: 76px;
        gap: 5px;

        &--titre {
            padding: 16px 0 0 16px;
            font-size: 18px;
            font-weight: 700;
        }
        &--text {
            margin: 0 0 12px 16px;
            font-size: 17px;
            font-weight: 300;
        }
        &--like {
            align-self: flex-end;
            position: absolute;
            top: 23px;
            right: 28px;
            cursor: pointer;
            font-size: 24px;

            .liked {
                display: none;
                @include iconeGradient();
            }
            &:hover {
                & > .liked {
                    display: unset;
                }
                & > .unliked {
                    display: none;
                }
            }
        }
    }
}

.menuCardsContainer {
    display: flex;
    flex-direction: column;
    padding-left: 13px;
    padding-right: 13px;
    gap: 12px;
    margin-bottom: 40px;

    @media (min-width: 1024px) {
        width: 634px;
    }

    h3 {
        font-size: 16px;
        font-weight: 300;
        border-bottom: solid 3px $lightGreen;
        width: 40px;
        padding-bottom: 3px;
    }

    .menuCard {
        display: flex;
        position: relative;
        height: 69px;
        border-radius: 15px;
        background-color: white;
        box-shadow: 0 4px 10px $cardShadow;
        cursor: pointer;
        overflow: hidden;
        transition: all 150ms ease-in;
        &:hover {
            transform: scale(0.995);

            & > .menuCard--selectionAnim {
                transform: translateX(0);
            }
            & > .coursePrice {
                transform: translateX(-59px);
            }
            & > .menuCard--content {
                width: calc(100% - 120px);
            }
        }

        &--content {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 5px;
            transition: all 150ms ease-in;

            h4 {
                margin: 0;
                padding-top: 12px;
                padding-left: 14px;
                font-size: 18px;
                font-weight: 500;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            p {
                margin: 0;
                padding-left: 14px;
                font-size: 15px;
                font-weight: 300;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

        .coursePrice {
            position: absolute;
            right: 13.5px;
            top: 37.5px;
            font-size: 14px;
            font-weight: 700;
            transform: translateX(0);
            transition: transform 250ms ease-in;
        }

        &--selectionAnim {
            position: absolute;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $lightGreen;
            color: white;
            width: 59px;
            height: 69px;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            transform: translateX(100%);
            transition: transform 250ms ease-in;
        }
    }
}
