@use "sass:color";

$buttonColor: linear-gradient(#ff79da, #9356dc);
$cardShadow: color.mix(black, white, 15%);
$btnShadow: color.mix(black, white, 30%);
$likeColor: linear-gradient(0deg, #ff79da, #9356dc);
$footer-bg: #353535;
$localisation-color: color.mix(#eaeaea, grey, 100%);
$headerShadowColor: rgba(0, 0, 0, 25%);
$lightGreen: #99e2d0;
$darkGreen: #008766;
$lightBlue: #89c8fa;
$darkBlue: #003a68;
$purple: #9356dc;
$primary-bg: #f3f3f3;
$secondary-bg: #ffffff;

@mixin headerShadow {
    box-shadow:
        inset 0 4px 5px $headerShadowColor,
        0 4px 5px $headerShadowColor;
}

@mixin iconeGradient {
    background: $likeColor;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}
