@use "./globalVariables.scss" as *;

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;

    &__card {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        padding-top: 14px;
        padding-bottom: 5px;
        height: 44px;

        &--logo {
            font-weight: 400;
            font-size: 30px;
            font-family: "Shrikhand", serif;
            margin: 0;
        }
        &--arrow {
            position: absolute;
            left: 23px;
            font-size: 24px;
        }
    }

    &__localisation {
        width: 100%;
        height: 50px;
        background-color: $localisation-color;
        @include headerShadow;

        @media (min-width: 767.98px) {
            box-shadow: unset;
        }

        &--content {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        i {
            margin-right: 17px;
        }
    }
}
