@use "sass:color";

$lightGreen: #99e2d0;
$darkGreen: #008766;
$lightBlue: #89c8fa;
$darkBlue: #003a68;
$purple: #9356dc;

body {
    display: flex;
    justify-content: center;
    margin: 0;

    .main-container {
        width: 100%;
        max-width: 1440px;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
}
